footer{
    padding: 20px 15px 10px;
}
footer p{
    font-family: var(--FuentePrincipal);
    font-size: 12px;
    margin-top: 0;
 
} 
footer ul{
    text-align: center;
    color: var(--colorGrisOscuro)
}
footer ul:last-child{
    text-align: left;
}

footer #icons{
    color: var(--colorCeleste);
    font-size: 2em;
    margin-bottom: 10px;

}